/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap'); */

.App {
  /* border:1px solid rgb(151, 151, 151); */
  color:#1E90FF;
  padding-top: 30px;
  /* background-color: rgb(0, 0, 0); */
  text-align: center;
}
ul{
  
  list-style-type: none;
  border:1mm solid rgb(151, 151, 151);
  text-align: center;
  padding: 0px 0px 0px 0px;
}
li {
  text-align: center;
  
}

